body{
	padding-top: 100px;
/*	background: #cbd9ea; */
	background-color: #454d6b; 
}
/*.card{
	
}*/
#formulario{
    
    align-items: center;
    justify-content: center;
    height: 100vh;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.card {
    background-color: rgba(19, 19, 19, 0.3);
   /* box-shadow: 3px 6px 8px 3px rgba(100, 100, 100, 0.3); */
   
}
h2 {
	color: white;
	text-align: center;
	margin-top: 30px;
	margin-bottom: 30px;
}
label{
	color: white;
	margin-top: 10px;
}
button{
	margin-top: 10px;
}